{{!--
    This partial renders the <body> of the HTML page.
    @api public

--}}

<nav class="oa-sidebar">
  <h1 id="logo">{{info.title}}</h1>
  <h2>{{info.version}}</h2>

  <h3>Topics</h3>
  <ul>
    {{#each commons}}
      {{>reference/topicLink}}
    {{/each}}
  </ul>
  <h3>Areas</h3>
  <ul>
    {{#each paths}}
      <li>
        {{info.title}}
      </li>
    {{/each}}
  </ul>
</nav>

<content>
  <h1>{{info.title}}</h2>
  <p class="sw-info">{{#if basePath}}Base URL: <span class="sw-info-basePath">{{basePath}}</span>, {{/if}}Version: <span class="sw-info-version">{{info.version}}</span></p>
  <p>{{md info.description}}</p>

  {{#each commons}}
    <div class="oa-topic">
      <h2 class="oa-section-header" id="topic-{{reference--kebab-case info.title}}">{{info.title}}</h2>

      <section class="oa-section col-md-6">
        {{md info.description}}
      </section>

      {{>reference/responseDefinitions responses=responses}}

      {{>reference/definitions definitions=definitions}}
    </div>
  {{/each}}

  {{#each paths}}
    <div class="oa-area">
      <h2 class="oa-section-header" id="topic-{{reference--kebab-case info.title}}">{{info.title}}</h2>

      <section class="oa-section col-md-6">
        {{md info.description}}
      </section>

      {{>reference/paths paths=paths basePath=basePath}}

      {{>swagger/parameterDefinitions parameters=parameters}}

      {{>reference/responseDefinitions responses=responses}}

      {{>reference/definitions definitions=definitions}}
    </div>
  {{/each}}

</content>
