{{reference--set-context .}}
<div class="oa-topic">
  <h2 class="oa-section-header" id="topic-{{htmlId info.title}}">{{info.title}}</h2>

  <section class="oa-section col-md-6">
    {{md info.description}}
  </section>

  {{>reference/parameterDefinitions parameters=parameters}}

  {{>reference/responseDefinitions responses=responses}}

  {{>reference/definitions definitions=definitions}}
</div>
{{reference--clear-context}}
